/*css reset from josh */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* css style for signup form */
  body {
    background: url('./Images/main-background.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #signup-container {
    display: flex;
    background-color: #000000;
    color: white;
    width: 50%;
    height: 75%;
    border: 1px solid #161616;
  }
  .image-section {
    background: url('./Images/bmw\ illustration\ image.jpg') no-repeat;
    background-size:contain;
    width: 45%;
  }
  .form-section {
    
  }