/*css reset from josh */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* css style for signup form */
:root {
  --main-bg : rgb(255, 191, 0);
  --main-color-white : white;
  --validation : red;
}
@font-face {
  font-family: 'Outfit';
  src: url('./font/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./font/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  background: url('./Images/main-background.png') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

#signup-container {
  display: flex;
  background-color: #000000;
  color: var(--main-color-white);
  width: 72%;
  height: 75%;
  border: 1px solid #161616;
  box-shadow: 0 0 20px 10px black;
}

.image-section {
  background: url('./Images/form-side-image.png') no-repeat;
  background-size: cover;
  width: 40%;
}

.form-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 20px;
}

#brand {
  margin-bottom: 40px;
}

#brand h1 {
  font-size: 32px;
  margin-bottom: 12px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 45%;
}

input {
  background-color: rgb(0, 0, 0);
  color: var(--main-color-white);
  border: none;
  outline: none;
  border-bottom: 2px solid var(--main-color-white);
  border-radius: 3px;
  padding: 6px 10px;

}

input:focus {
  border-bottom: 3px solid var(--main-bg);
}

label {
  color: var(--main-color-white);
  /* margin-bottom: 5px; */
  font-size: 14px;
  font-weight: 600;
}
.pass-validation {
  font-size: 12px;
  color: rgb(143, 143, 143);
}

button[type="submit"] {
  padding: 6px 15px;
  font-weight: 600;
  background-color:  var(--main-bg);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 2px solid  var(--main-bg);
  margin-top: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(0, 0, 0);
  color:  var(--main-bg);
  border-color:  var(--main-bg);
}

label>span {
  color: var(--validation);
}
#login-link {
  width: 100%;
  text-align: left;
  padding: 6px 20px;
  margin-top: 10px;
}
#login-link a {
  text-decoration: none;
  color: var(--main-bg);
}
#login-link a:hover {
  opacity: .6;
}
input:user-invalid {
  border-bottom: 3px solid var(--validation);

}