/*css reset from josh */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* css style for signup form */
  @font-face {
    font-family: 'Outfit';
    src: url('./font/Outfit-Regular.ttf') format('truetype');
  }
  body {
    background: url('./Images/main-background.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit' , sans-serif;
  }
  #signup-container {
    display: flex;
    background-color: #000000;
    color: white;
    width: 60%;
    height: 75%;
    border: 1px solid #161616;
  }
  .image-section {
    background: url('./Images/ChatGPT\ Image\ Apr\ 30\,\ 2025\,\ 07_41_12\ AM.png') no-repeat;
    background-size:contain;
    width: 32%;
  }
  .form-section {
    width: 60%;
  }
  .form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
  }
  input {
    background-color: rgb(35, 35, 35);
    border: 2px solid #000000;
    border-radius: 6px;
    padding: 3px;
  }
  label {
    margin-bottom: 5px;
    font-size: 14px;
  }
 